@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto';
  background-color: #f3f3f3;
  height: 100%;
}

/* Utils */
.container {
  width: 70%;
  margin: auto;
}

hr.separe {
  width: 90%;
  margin: auto;
  border-top: 2px solid #ededed;
}

.btn {
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: none;
  background: #f53506;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 300ms;
}

.btn:hover {
  background: #0b0a0d;
  color: #f53506;
}

.btn i {
  margin-right: 6px;
}

.btn-lg {
  padding: 15px 20px;
}

.input-text {
  width: 100%;
  padding: 9px;
  margin: 10px auto;
  font-size: 16px;
  border: 1px solid #f5350642;
  background-color: transparent;
  border-radius: 4px;
  resize: none;
}

.input-text::placeholder {
  color: #f33506b9;
  font-family: 'Roboto';
}

.input-text:focus {
  outline-color: #f53506;
}

.hide {
  display: none;
}

.show {
  display: show;
}

/* Header */
header {
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: #0b0a0d;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  margin-left: 30px;
  font-size: 25px;
  padding: 20px;
  color: #f53506;
  cursor: pointer;
}
header h1 i {
  color: #444;
}
header ul {
  display: flex;
  width: 580px;
  margin-right: 20px;
  padding: 20px;
  justify-content: space-between;
  color: #fff;
  list-style: none;
  color: #87868b;
}

header ul li {
  cursor: pointer;
  padding: 8px;
  font-size: 1.1rem;
  border-bottom: 2px solid #0b0a0d;
  transition: all 300ms;
}

header ul li.active {
  color: #f53506;
  border-bottom: 2px solid #f53506;
}

header ul li i {
  margin-right: 10px;
}
header ul li:hover {
  border-bottom: 2px solid #f53506;
  color: #f53506;
}

header ul hr {
  border: none;
  border-right: 1px dotted #ffffff6e;
}

/* Main */
main {
  width: 100%;
  height: 92vh;
  background-image: url('./main.jpg');
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  position: relative;
}

main .content {
  width: 600px;
  height: 310px;
  padding: 40px;
  top: 60px;
  left: 85px;
  position: absolute;
  justify-content: right;
  background-color: #00000055;
  text-shadow: 4px 4px 5px #000;
  color: #fff;
  border-radius: 5px;
}

main .content h2 {
  margin: 10px 0;
  font-size: 2.2rem;
}

main .content p {
  font-size: 1.2rem;
  margin-bottom: 35px;
}

/* Get started button icon */
main .content a i {
  margin: 0;
  margin-left: 6px;
}

/* Search section */
section.search {
  width: 100%;
  margin: 150px auto;
  text-align: center;
}

section.search h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

section.search input[type='text'] {
  width: 50%;
  padding: 9px;
  font-size: 16px;
  border: 1px solid #f5350642;
  border-radius: 4px;
  background-color: transparent;
}
section.search input[type='text']:focus {
  outline-color: #f53506;
}

section.search input[type='text']::placeholder {
  color: #f33506b9;
}

section.search button {
  padding: 12px 15px;
}

/* About section  */
section.about .container .grid-item h1 {
  margin-bottom: 5px;
}

section.about .container .grid-item p {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 18px;
  text-align: justify;
}

.grid-container {
  display: grid;
  margin: 70px auto;
  padding: 40px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px; /* Espaço entre os grids */
  grid-template-rows: 1fr;
  place-items: center;
  background-color: #ededed;
  border-radius: 5px;
}

.grid-item {
  flex: 0 1 auto;
}
.grid-item img {
  width: 100%;
}

/* Contact section */
.contact input[type='text'],
textarea,
label {
  display: block;
  width: 100%;
}

section.contact .container .grid-item h1 {
  font-size: 2rem;
}

section.contact .container .grid-item div {
  margin: 10px;
}

section.contact .container .grid-item i {
  margin-right: 10px;
}

section.contact .container .grid-item a {
  color: #f33506b9;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: #0b0a0d;
  color: #444;
  padding: 20px 0px 20px 0px;
  margin: 70px 0px 0px 0px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
